html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin: 0;
    background-color: black;
    min-height: 100vh;
}

.c-characters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c-characters__item{
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(11, 16, 19);
    transition: transform .5s ease;
    transform-origin: top;
    opacity: .8;
}

.c-characters__item:hover {
    opacity: 1;
}

.selected {
    position: relative;
    z-index: 99;
    transform: scale(1.1);
    opacity: 1;
}

.char__name {
    font-size: 20px;
    margin: 0;
    padding: 5px 0;
}

.char__img{
    width: 100%;
    aspect-ratio: 4/7;
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    transition: transform .5s;
}


.char-features {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.char-dmg {
    margin: 0;
    padding-left: 20px;
}

p {
    margin: 0;
}

.fight-btn {
    padding: 30px 120px;
    background-color: rgb(30, 41, 48);
    font-size: 30px;
    display: block;
    margin: 80px auto;
    cursor: pointer;
    border-radius: 40px;
    animation: fightBtn 2s ease infinite;
}

@keyframes fightBtn {
    0% {transform: scale(1); background-color: rgb(30, 41, 48);}
    20% {transform: scale(1); background-color: rgb(30, 41, 48);}
    30% {transform: scale(1.04);background-color: rgb(34, 44, 51);}
    40% {transform: scale(1); background-color: rgb(30, 41, 48);}
    50% {transform: scale(1.04); background-color: rgb(34, 44, 51);}
    60% {transform: scale(1); background-color: rgb(30, 41, 48);}
}


.play-btn {
    padding: 20px 30px;
    margin: 20px;
    background-color:rgb(181, 143, 68);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color .2s ease;
}


.play-btn:hover {
    background-color: rgb(133, 81, 38);
}

.winner-msg {
    text-align: center;
}